# Compiled class files
target/
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.ear

# VS Code settings
.vscode/

# Environment variables
.env